<%- include('../../partial/header.ejs') %>
<%- include('../../partial/navbar.ejs') %>
<%- include('../../partial/sidebar.ejs') %>
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="h3 mb-2 text-gray-800">Edit Nilai Penugasan Peserta</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item"><a href="/nilai_tugas">Nilai Penugasan</a></li>
                                    <li class="breadcrumb-item active">Edit</li>
                                </ol>
                            </div>
                        </div>
                    </div><!-- /.container-fluid -->
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Form Edit Nilai Penugasan Peserta</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <!-- form start -->
                                    <form action="/nilai_tugas/edit/<%= nilai._id %>?_method=PUT" method="POST">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label>Nama Peserta</label>
                                                <% if (nilai.namePeserta && nilai.namePeserta.length > 0) { %>
                                                  <% nilai.namePeserta.forEach(peserta => { %>
                                                    <input type="text" class="form-control" value="<%= peserta.name %>" readonly>
                                                  <% }) %>
                                                <% } else { %>
                                                  <p>-</p>
                                                <% } %>
                                              </div>
                                              

                                              <div class="form-group">
                                                <label>Nama Materi</label>
                                                <% if (nilai.name_materi && nilai.name_materi.length > 0) { %>
                                                  <% nilai.name_materi.forEach(materi => { %>
                                                    <input type="text" class="form-control" value="<%= materi.materi %>" readonly>
                                                  <% }) %>
                                                <% } else { %>
                                                  <p>-</p>
                                                <% } %>
                                              </div>
                                            
                                            <div class="form-group">
                                                <label for="nilaiPengetahuan">Nilai Pengetahuan</label>
                                                <input type="number" name="nilaiPengetahuan" class="form-control" value="<%= nilai.nilaiPengetahuan %>" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="nilaiPemahaman">Nilai Pemahaman</label>
                                                <input type="number" name="nilaiPemahaman" class="form-control" value="<%= nilai.nilaiPemahaman %>" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="nilaiAnalisis">Nilai Analisis</label>
                                                <input type="number" name="nilaiAnalisis" class="form-control" value="<%= nilai.nilaiAnalisis %>" required>
                                            </div>

                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">Simpan</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            </div>

            <%- include('../../partial/footer.ejs') %>
            <%- include('../../partial/js.ejs') %>
