<%- include ../../partial/header.ejs %>
    <%- include ../../partial/sidebar.ejs %>
        <%- include ../../partial/navbar.ejs %>
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="h3 mb-2 text-gray-800">Nilai Psikomotorik Forum</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item"><a href="/nilai_psikomotorik">Nilai Psikomotorik</a></li>
                                    <li class="breadcrumb-item active"></a>Tambah</li>
                                </ol>
                            </div>
                        </div>
                    </div><!-- /.container-fluid -->
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Form Nilai Psikomotorik</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <!-- form start -->
                                    <form action="/nilai_psikomotorik/create" method="POST">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="pesertaId">Peserta</label>
                                                <select name="pesertaId" id="pesertaId" class="form-control" required>
                                                    <option value="">Pilih Peserta</option>
                                                    <% peserta.forEach(function(peserta) { %>
                                                        <option value="<%= peserta._id %>"><%= peserta.name %> - <%= peserta.asal_cabang %></option>
                                                    <% }); %>
                                                </select>
                                                <label for="materiId">Nama Materi</label>
                                                <select name="materiId" id="materiId" class="form-control" required>
                                                  <option value="">Pilih Materi</option>
                                                  <% materi.forEach((materi) => { %>
                                                    <option value="<%= materi._id %>"><%= materi.materi%> - <%= materi.narasumber %></option>
                                                  <% }) %>
                                                </select>
                                              </div>
                                              <div>
                                                <label for="nilaiCategory">Masukan Nilai Kategori</label>
                                                <select name="nilaiCategory" id="nilaiCategory" class="form-control" required>
                                                    <option value="">Pilih Kategori Nilai</option>
                                                    <% nilaiCategory.forEach(function(nilaiCategory) { %>
                                                        <option value="<%= nilaiCategory._id %>"><%= nilaiCategory.name %></option>
                                                    <% }); %>
                                                </select>
                                            </div>
                                              <div class="form-group">
                                                <label for="nilaiReaksi">Nilai Reaksi</label>
                                                <input type="number" name="nilaiReaksi"  class="form-control"
                                                    id="nilaiReaksi" placeholder="Nilai Reaksi"
                                                     min="50" max="80">
                                            </div>
                                              <div class="form-group">
                                                <label for="nilaiAdaptasi">Nilai Adaptasi</label>
                                                <input type="number" name="nilaiAdaptasi"  class="form-control"
                                                    id="nilaiAdaptasi" placeholder="Nilai Adaptasi"
                                                     min="50" max="80">
                                            </div>
                                              <div class="form-group">
                                                <label for="nilaiPersepsi">Nilai Persepsi</label>
                                                <input type="number" name="nilaiPersepsi"  class="form-control"
                                                    id="nilaiReaksi" placeholder="Nilai Persepsi"
                                                     min="50" max="80">
                                            </div>
                                           <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                           </div>
                                    </form>
                                </div>

                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            </div>

            <%- include ../../partial/footer.ejs %>
                <%- include ../../partial/js.ejs %>