<%- include ../../partial/header.ejs %>
    <%- include ../../partial/sidebar.ejs %>
        <%- include ../../partial/navbar.ejs %>
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1> Data Peserta Training </h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item"><a href="/peserta">Peserta</a></li>
                                    <li class="breadcrumb-item active"></a>Tambah</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Form Tambah Peserta</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <!-- form start -->
                                    <form action="/peserta/create" method="POST">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <div>
                                                    <label for="name">Masukan Nama Peserta</label>
                                                <input type="text" name="name" class="form-control"
                                                    id="name" placeholder="Masukan Nama Peserta"
                                                    required>
                                                <label for="email">Masukan Email Peserta</label>
                                                <input type="text" name="email" class="form-control"
                                                    id="email" placeholder="Masukan Email Peserta" required>
                                            
                                           
                                                <label for="no_Hp">Masukan No Hand Phone Peserta</label>
                                                <input type="number" name="no_Hp" class="form-control"
                                                    id="no_Hp" placeholder="Masukan No Handphone Peserta"
                                                    required>
                                           
                                                <label for="asal_komisariat">Masukan Asal Komisariat Peserta</label>
                                                <input type="text" name="asal_komisariat" class="form-control"
                                                    id="asal_komisariat" placeholder="Masukan Asal Komisariat Peserta" required>
                                          
                                            
                                                <label for="asal_cabang">Masukan Asal Cabang Peserta</label>
                                                <input type="text" name="asal_cabang" class="form-control"
                                                    id="asal_cabang" placeholder="Masukan Asal CAbang Peserta"
                                                    required>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary">Simpan</button>
                                            </div>
                                    </form>
                                </div>

                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            </div>

            <%- include ../../partial/footer.ejs %>
                <%- include ../../partial/js.ejs %>