<table id="example2" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>No.</th>
            <th>Nama</th>
            <th>Asal Cabang</th>
            <th>Nilai FGD</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i=0; i < fgd.length; i++){ %>

            <tr>
                <td><%= i + 1 %></td>
                <td><%= fgd[i].pesertaName %></td>
                <td><%= fgd[i].pesertaCabang%></td>
                <td><%= fgd[i].nilai_fgd%></td>
                <td style="text-align: center;">
                    <% if (fgd[i]._id) { %>
                        <a href="/fgd/edit/<%= fgd[i]._id %>" class="btn btn-sm btn-warning" title="Edit Nilai">
                            <i class="fas fa-edit"></i>
                        </a>
                    <% } %>
                </td>
            </tr>
            <% } %>
    </tbody>

</table>