<%- include ../../partial/header.ejs %>
    <%- include ../../partial/sidebar.ejs %>
        <%- include ../../partial/navbar.ejs %>
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="h3 mb-2 text-gray-800">Peserta Training</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item"><a href="/materi">Materi</a></li>
                                    <li class="breadcrumb-item active"></a>Tambah</li>
                                </ol>
                            </div>
                        </div>
                    </div><!-- /.container-fluid -->
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Form Tambah Materi Training</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <!-- form start -->
                                    <form action="/materi/create" method="POST">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="materi">Masukan Nama Materi</label>
                                                <input type="text" name="materi" class="form-control" id="name"
                                                    placeholder="Masukan Nama Materi" required>
                                            </div>
                                            <div>
                                                <label for="judulMateri">Masukan Judul Materi</label>
                                                <input type="text" name="judulMateri" class="form-control"
                                                    id="judulMateri" placeholder="Masukan Judul Materi" required>
                                            </div>
                                            <div>
                                                <label for="narasumber">Masukan Nama Narasumber</label>
                                                <input type="text" name="narasumber" class="form-control"
                                                    id="narasumber" placeholder="Masukan Nama Narasumber" required>
                                            </div>
                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary">Simpan</button>
                                            </div>
                                    </form>
                                </div>

                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            </div>

            <%- include ../../partial/footer.ejs %>
                <%- include ../../partial/js.ejs %>